<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoogleTranslate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GoogleTranslateExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0C2C95E18D4A26C00A011D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C2C96E18D4A26C00A011D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C2C98B18D4A29700A011D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C2C9AB18D4A29700A011D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C2C9C318D4A2BF00A011D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C2C9E218D4A2BF00A011D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
